{% if data == 'LIKE' %}
<span style="font-size: 25px;">👍</span>
{% elif data == 'DISLIKE' %}
<span style="font-size: 25px;">👎</span>
{% elif data == 'LOVE' %}
<span style="font-size: 25px;">❤️</span>
{% elif data == 'LAUGH' %}
<span style="font-size: 25px;">😆</span>
{% elif data == 'SAD' %}
<span style="font-size: 25px;">😥</span>
{% elif data == 'HUSHED' %}
<span style="font-size: 25px;">😯</span>
{% elif data == 'ANGRY' %}
<span style="font-size: 25px;">😡</span>
{% else %}
<span style="font-size: 25px;">❓</span>
{% endif %}