<div class="{% if error %}{{ field.error_class }}{% endif %}">
    <select id="{{ field.id }}"
            name="{{ field.id }}"
            data-allow-clear="true"
            data-placeholder="{{ _('Select a %(label)s', label=field.label) }}"
            class="{{ field.class_ }} {% if error %}{{ field.error_class }}{% endif %}"
            {% if field.multiple %}multiple{% endif %}
            {% if field.disabled %}disabled{% endif %}
            {% if field.select2 %}data-role="select2"{% endif %}>
        {% for value, label in field._get_choices(request) %}
            <option value="{{ value }}" {{ 'selected' if (data and (value in (data if field.multiple else [data]))) else '' }}>
            {% if label == 'LIKE' %}
            <span style="font-size: 25px;">👍</span>
            {% elif label == 'DISLIKE' %}
            <span style="font-size: 25px;">👎</span>
            {% elif label == 'LOVE' %}
            <span style="font-size: 25px;">❤️</span>
            {% elif label == 'LAUGH' %}
            <span style="font-size: 25px;">😆</span>
            {% elif label == 'SAD' %}
            <span style="font-size: 25px;">😥</span>
            {% elif label == 'HUSHED' %}
            <span style="font-size: 25px;">😯</span>
            {% elif label == 'ANGRY' %}
            <span style="font-size: 25px;">😡</span>
            {% else %}
            <span style="font-size: 25px;">❓</span>
            {% endif %}
            </option>
        {% endfor %}
    </select>
    {% if field.help_text %}
        <small class="form-hint mt-2">{{ field.help_text }}</small>
    {% endif %}
</div>
{% include "forms/_error.html" %}
